@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Lexend', sans-serif;
  -webkit-tap-highlight-color: transparent;
  background-color: #f5f7f8;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
